<div class="hero-unit">
  <div class="yeoman"></div>
  <div class="control-group">
    <div class="controls">
      <input type="text" name="todo" class="span4" id='new-todo' placeholder="Type & press enter to add todo"/>
    </div>
  </div>
  <div>
    <ul class="todo-list">

    </ul>
  </div>
</div>
