<div class="hero-unit">
    <h1>'Allo, 'Allo!</h1>
    <p>You now have</p>
    <ul>
        <li>Twitter Bootstrap</li>
        <li>HTML5 Boilerplate</li>
        <li>jQuery</li>
        <li>Backbone.js</li>
        <li>Underscore.js</li>
    </ul>
    <p>installed.</p>
    <h3>Enjoy coding! - Yeoman</h3>
</div>
<div>
    <img src="images/yeoman.png" alt="Yeoman">
</div>
