<p>
  <span class="glyphicon glyphicon-trash"></span>
  <% if(!todo.done){ %>
  <b><%= todo.todo  %></b>
  <% }else{ %>
  <span class='todo-done'><%= todo.todo  %></span>
  <% } %>
  <input type="checkbox" class="pull-right"
  <% if(todo.done){ %> checked='checked' <% } %> />
</p>
