<p>
  <i class='icon-trash'> </i>
  <% if(!todo.completed){ %>
  <b><%= todo.todo  %></b>
  <% }else{ %>
  <span class='todo-done'><%= todo.todo  %></span>
  <% } %>
  <input type="checkbox" class="pull-right" id="done"
  <% if(todo.completed){ %> checked='checked' <% } %> />
</p>
