<form class="form-vertical">
  <div class="control-group">
    <div class="controls">
      <input type="text" name="todo" class="span4"/>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type='submit' class="btn btn-primary span4" value="Add Todo"/>
    </div>
  </div>
</form>

